
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

*{
  font-family: "Kanit", sans-serif;

}
.btn {
  padding: 10px 20px;
  font-size: 11px;
  letter-spacing: 3px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}

.btn-facebook {
  color: #fff;
  background-color: #0d6efd;
  border-color: #000000
}
.btn-con {
  color: #ffffff;
  background-color: #ffbb00;
  border-color: #ffffff
}
.btn-con:hover {
  color: #000000;
  background-color: #ffbb00;
  border-color: #000000
}
.btn-facebook:hover {
  color: #000000;
  background-color: #ffffff;
  border-color: #0a58ca
}
.btnf {
  color: #fff;
  padding: 10px 20px;
  font-size: 11px;
  letter-spacing: 3px;
  font-weight: 500;
  background-color: #0a58ca;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}
a {
  text-decoration: none
}
.btn {
  padding: 10px 20px;
  font-size: 11px;
  letter-spacing: 3px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}
.navmain{
  position: relative;
    left: -4%;
}
.navmain img{
  height: 55px;
    width: 55px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
@media screen and (max-width:800px){
  .grid{
    grid-template-columns: 1fr ;
    grid-template-rows: auto;
}
}

/*style="border: 1px solid red;*/